<header class="header">
    <a href="{{ path('home') }}" class="header__logo header__logo--up ml-10 hidden-down"><img src="{{ asset('/images/logo-iceRollDelice-inline.png') }}" alt="logo iceroll delice"></a>
    <a href="{{ path('home') }}" class="header__logo header__logo--down hidden-up"><img src="{{ asset('/images/logo-iceRollDelice-inline.png') }}" alt="logo iceroll delice"></a>
    <nav class="header__nav-links hidden-down">
        <ul>
            <li><a href="{{ path('login') }}"><span class="iceroll-spirale"><img src="{{ asset('/images/iceroll-spirale.png') }}"
                                                                                 alt="iceroll spirale"></span></a></li>
        </ul>
    </nav>
    <div class="navbar--groupe hidden-up">
        <a class="navbar--link hidden-down" href="{{ path('price') }}">
            <button class="btn btn-accent">Devis</button>
        </a>
        <a class="navbar-toggle" href="#" id="header-icon-links">
            <svg height="21.667" id="menu" viewBox="0 0 30 21.667" width="30" xmlns="http://www.w3.org/2000/svg">
                <path d="M28.75,125.305H1.25a1.321,1.321,0,0,1,0-2.637h27.5a1.321,1.321,0,0,1,0,2.637Zm0,0"
                      data-name="Tracé 1" id="Tracé_1" transform="translate(0 -113.153)"/>
                <path
                        d="M28.75,2.637H1.25A1.286,1.286,0,0,1,0,1.319,1.286,1.286,0,0,1,1.25,0h27.5A1.286,1.286,0,0,1,30,1.319,1.286,1.286,0,0,1,28.75,2.637Zm0,0"
                        data-name="Tracé 2" id="Tracé_2"/>
                <path d="M28.75,247.969H1.25a1.321,1.321,0,0,1,0-2.637h27.5a1.321,1.321,0,0,1,0,2.637Zm0,0"
                      data-name="Tracé 3" id="Tracé_3" transform="translate(0 -226.303)"/>
            </svg>
        </a>
    </div>
</header>
<!-- MOBILE NAVIGATION MENU -->
<aside class="mobile-menu mobile-menu--right mobile-menu-links clearfix">
    <div class="mobile-menu--container">
        <a class="exit-menu" href="#" id="exit-menu-links">
            <svg height="30" viewbox="0 0 30 30" width="30" xmlns="http://www.w3.org/2000/svg')}}">
                <path d="M29.728,24.1h0l-9.1-9.1,9.1-9.1h0a.94.94,0,0,0,0-1.326l-4.3-4.3a.94.94,0,0,0-1.326,0h0L15,9.376,5.9.275h0a.94.94,0,0,0-1.326,0l-4.3,4.3a.94.94,0,0,0,0,1.326h0l9.1,9.1-9.1,9.1h0a.94.94,0,0,0,0,1.326l4.3,4.3a.94.94,0,0,0,1.326,0h0l9.1-9.1,9.1,9.1h0a.939.939,0,0,0,1.325,0l4.3-4.3a.939.939,0,0,0,0-1.326Z" id="cross" transform="translate(-0.001 -0.001)"/>
            </svg>
        </a>
        <nav class="mobile-menu--text">
            <ul>
                <li><a href="{{ path('login') }}"><span class="iceroll-spirale"><img src="{{ asset('/images/iceroll-spirale.png') }}" alt="iceroll spirale"></span></a></li>
            </ul>
        </nav>
    </div>
</aside>
<div class="site-cover" id="site-cover"></div>