{{ form_start(form, {'attr': {'class': 'table-tr'}}) }}
<div class="table-td" scope="row">
    {% if loop.index is defined %}
        {{ loop.index }}
    {% else %}
        N°
    {% endif %}
</div>
<div class="table-td">
    {% if flavor.id is defined and flavor.id is not empty %}
        {{ flavor.id }}
    {% else %}
        #
    {% endif %}
</div>
<div class="table-td">
    image
</div>
<div class="table-td">{{ form_row(form.name) }}</div>
<div class="table-td">{{ form_row(form.price) }}</div>
<div class="table-td">{{ form_row(form.stock) }}</div>
<div class="table-td">{{ form_row(form.topping) }}</div>
<div class="table-td">
    <a href="{{ path('admin.flavor.show') }}" class="inline-block">
        <button class="btn-icon btn-icon--success">
            <svg xmlns="http://www.w3.org/2000/svg" width="25.149" height="18.156"
                 viewBox="0 0 25.149 18.156">
                <path id="done_FILL0_wght400_GRAD0_opsz48"
                      d="M162.653,358.156,154,349.5l1.661-1.661,6.992,6.992L177.488,340l1.661,1.661Z"
                      transform="translate(-154 -340)" fill="#fff"/>
            </svg>
        </button>
    </a>
</div>
<div class="table-td">
    <a href="#" class="inline-block">
        <button class="btn-icon btn-icon--danger">
            <svg xmlns="http://www.w3.org/2000/svg" width="23.864" height="26.847"
                 viewBox="0 0 23.864 26.847">
                <path id="delete_FILL0_wght400_GRAD0_opsz48"
                      d="M163.766,242.847a2.244,2.244,0,0,1-2.237-2.237V219.356H160v-2.237h7.01V216h9.844v1.119h7.01v2.237h-1.529V240.61a2.294,2.294,0,0,1-2.237,2.237ZM180.1,219.356H163.766V240.61H180.1ZM167.719,237.4h2.237V222.525h-2.237Zm6.19,0h2.237V222.525h-2.237Zm-10.142-18.047v0Z"
                      transform="translate(-160 -216)" fill="#fff"/>
            </svg>
        </button>
    </a>
</div>
{{ form_end(form) }}