{{ form_start(form, {'attr': {'class': 'table-tr'}}) }}
<div class="table-td" scope="row">
    {% if loop.index is defined %}
        {{ loop.index }}
    {% else %}
        N°
    {% endif %}
</div>
<div class="table-td">
    {% if flavor.id is defined and flavor.id is not empty %}
        {{ flavor.id }}
    {% else %}
        #
    {% endif %}
</div>
<div class="table-td">
    image
</div>
<div class="table-td">{{ form_row(form.name) }}</div>
<div class="table-td">{{ form_row(form.price) }}</div>
<div class="table-td">{{ form_row(form.stock) }}</div>
<div class="table-td">{{ form_row(form.topping) }}</div>
<div class="table-td">
    <a href="{{ path('admin.flavor.show') }}" class="inline-block">
        <button type="submit" class="btn-icon btn-icon--success">
            <svg xmlns="http://www.w3.org/2000/svg" width="25.149" height="18.156"
                 viewBox="0 0 25.149 18.156">
                <path id="done_FILL0_wght400_GRAD0_opsz48"
                      d="M162.653,358.156,154,349.5l1.661-1.661,6.992,6.992L177.488,340l1.661,1.661Z"
                      transform="translate(-154 -340)" fill="#fff"/>
            </svg>
        </button>
    </a>
</div>
{{ form_end(form) }}