{% extends 'admin/base.html.twig' %}

{% block title %}Edit event{% endblock %}

{% block body %}
    {% block header %}
        {% include "admin/partials/_header.html.twig" %}
    {% endblock %}
    <main>
        {% block aside %}
            {% include "admin/partials/_aside.html.twig" %}
        {% endblock %}
        <section class="section--dashboard">
            {% if not events is same as([]) %}
                <div class="table">
                    <div class="table-tr">
                        <div class="table-th" scope="col">#</div>
                        <div class="table-th" scope="col">ID</div>
                        <div class="table-th" scope="col">Address</div>
                        <div class="table-th" scope="col">Street number</div>
                        <div class="table-th" scope="col">City</div>
                        <div class="table-th" scope="col">Postcode</div>
                        <div class="table-th" scope="col">state</div>
                        <div class="table-th" scope="col">Event name</div>
                        <div class="table-th" scope="col">Guests number</div>
                        <div class="table-th" scope="col">Advance time</div>
                        <div class="table-th" scope="col">Event date</div>
                        <div class="table-th" scope="col">Created At</div>
                        <div class="table-th" scope="col">Available time for event</div>
                        <div class="table-th" scope="col">Event time</div>
                        <div class="table-th" scope="col">Event type</div>
                        <div class="table-th" scope="col">Lactose intolerant</div>
                        <div class="table-th" scope="col">Nearby power supply</div>
                        <div class="table-th" scope="col">Short walking distance</div>
                        <div class="table-th" scope="col">Event kind</div>
                    </div>
                    {{ include('admin/form/_form-event.html.twig', { form: form, button: 'Editer' }) }}
                    {% for event in events %}
                            <div class="table-tr">
                                <div class="table-th" scope="row">{{ loop.index }}</div>
                                <div class="table-td">{{ event.id }}</div>
                                <div class="table-td">{{ event.address }}</div>
                                <div class="table-td">{{ event.streetNumber }}</div>
                                <div class="table-td">{{ event.city }}</div>
                                <div class="table-td">{{ event.state }}</div>
                                <div class="table-td">{{ event.eventName }}</div>
                                <div class="table-td">{{ event.guestsNumber }}</div>
                                <div class="table-td">{{ event.advanceTime }}</div>
                                <div class="table-td">{{ event.eventDate|date('Y-m-d H:i:s') }}</div>
                                <div class="table-td">{{ event.createdAt|date('Y-m-d H:i:s') }}</div>
                                <div class="table-td">{{ event.availableTimeForEvent }}</div>
                                <div class="table-td">{{ event.eventTime|date('Y-m-d H:i:s') }}</div>
                                <div class="table-td">{{ event.eventType }}</div>
                                <div class="table-td">{{ event.lactoseIntolerant }}</div>
                                <div class="table-td">{{ event.nearbyPowerSupply }}</div>
                                <div class="table-td">{{ event.shortWalkingDistance }}</div>
                                <div class="table-td">{{ event.eventKind }}</div>
                                <div class="table-td">
                                    <a href="{{ path('event.show') }}" class="inline-block">
                                        <button class="btn-icon btn-icon--success">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="26.261" height="26.261" viewBox="0 0 26.261 26.261">
                                                <path id="edit_FILL0_wght400_GRAD0_opsz48" d="M122.15,227.111h1.576L139.6,211.24l-1.576-1.576L122.15,225.535Zm22-17.412-4.586-4.586,1.5-1.5a2.163,2.163,0,0,1,3.009,0l1.576,1.576a2.163,2.163,0,0,1,0,3.009Zm-1.5,1.5-18.057,18.057H120v-4.586l18.057-18.057Zm-3.833-.752-.788-.788,1.576,1.576Z" transform="translate(-120 -203)" fill="#fff"/>
                                            </svg>
                                        </button>
                                    </a>
                                </div>
                            </div>
                    {% endfor %}
                </div>
            {% else %}
                <h3>La table des &eacute;v&eacute;nements est vide !</h3>
            {% endif %}
        </section>
    </main>
{% endblock %}
